Finalise your booking!
<body>

    You are booking: <% @spaces.name %>
  <form>
  <!-- <form action="/spaces" method="post"> -->
    <label for="check_in">
      Check in: <input type="text" name="check_in">
    </label>
    <label for="check_out">
      Check out: <input type="text" name="check_out">
    </label>
    <label for="number_of_guests">
      Number of Guests: <input type="number" name="number_of_guests">
    </label>

    <input type="submit" value="Confirm booking">
  </form>
</body>
