<body>
  <h1>Add Space</h1>
  <form action="/spaces" method="post">
    <label for="name">
      Name: <input type="text" name="name">
    </label>
    <label for="description">
      Description: <input type="text" name="description">
    </label>
    <label for="price">
      Price: <input type="number" name="price">
    </label>
    <label for="availablity_date_from">
      Date From: <input type="text" name="availablity_date_from">
    </label>
    <label for="availablity_date_to">
      Date To: <input type="text" name="availablity_date_to">
    </label>
    <input type="submit" value="List my Space">
  </form>
</body>
