<h1>Finalise your booking!</h1>

<h2>You are booking: <%= @space.name %></h2>
<h2>You are booking from <%= @check_in.strftime("%-d %B %Y") %> to <%= @check_out.strftime("%-d %B %Y") %>.</h2>


<a href="/request/confirmation">Confirm</a>
