<!DOCTYPE html>
<html>
  <head>
    <title>The Best Makers BnB</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  </head>
  <body>
    <header>
      <a href="/"><img id="logo" src="/images/logo.png" alt="Makers BnB logo"></a>
    </header>
    <section>
      <%= yield %>
    </section>
    <footer>
      <p>Made with love and tea by Brian, Darren, Frances, Iain, Michael and Michal. &copy; 2016. All rights reserved.</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="/js/interface.js"></script>


    <% if flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

  </body>
</html>
