<h1>Requests I've made</h1>

<h1>Requests I've received</h1>
<h2>Request 1</h2>
<a href="requests/1" id="request_1">Details of the request here</a>
<!-- Update this line to reflect booking status -->
<p>Booking request has been confirmed</p>
